## Lets Do a Churn Modelling Using an Artificial Neural Network

In [87]:
## Set the working directory
import os
os.chdir(r'D:\Learning\deeplearning\Neural_Nets')

# Classification template

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the dataset
dataset = pd.read_csv('Churn_Modelling.csv')
# Including all columns from 3 through 12 (Remember that the upper bound should be 13 to add 12th row)
# We believe all these features have an impact on customer churn.
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values

In [88]:
X.shape

(10000, 10)

In [89]:
y.shape

(10000,)

Now that we have the dataset, we need to make sure that the data is in the best shape  for us to apply a Neural Network. Turns out our data has Categorical variables  in the form of Strings as we could see from the xls file. Hence, they need to be encoded before inputting them into a Neural Net.

Our dependent variable (churn) is also categorical, but its binary and takes only 1s and 0s. So we don't need to encode it into numbers cos its already in numerical form. So, right now, we need only to encode our dependent variables that are strings and are categorical variables.

We'll use the LabelEncoder and OneHotEncoder from Python Scikit library.

#### Lets see what X contains before we go ahead and enode.

In [90]:
## Convert X into a pandas dataframe for excel sheet like view
import pandas as pd

In [91]:
df = pd.DataFrame(X)

In [92]:
# Lets create a function out of this as it might come in handy later on.

def create_dataframe(numpy_array):
    return(pd.DataFrame(numpy_array))

In [93]:
df.head(10)

     0        1       2   3  4        5  6  7  8        9
0  619   France  Female  42  2        0  1  1  1   101349
1  608    Spain  Female  41  1  83807.9  1  0  1   112543
2  502   France  Female  42  8   159661  3  1  0   113932
3  699   France  Female  39  1        0  2  0  0  93826.6
4  850    Spain  Female  43  2   125511  1  1  1  79084.1
5  645    Spain    Male  44  8   113756  2  1  0   149757
6  822   France    Male  50  7        0  2  1  1  10062.8
7  376  Germany  Female  29  4   115047  4  1  0   119347
8  501   France    Male  44  4   142051  2  0  1  74940.5
9  684   France    Male  27  2   134604  1  1  1  71725.7

We could see that only the Gender and Country fields are categorical.

In [94]:
X.shape

(10000, 10)

In [95]:
# We'll define a function to take care of encoding for us. Before that, we'll import the packages.
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

def categorical_encoder(data, index):
    label_encoder = LabelEncoder()
    data[:, index] = label_encoder.fit_transform(data[:, index])
    return(data)

The function takes in the numpy array to be processed and the index of the field to be encoded.

In [96]:
# Lets try that
# The index of the field Country is 1
X = categorical_encoder(X,1)

In [97]:
# Lets see what X has in store for us now.

df = create_dataframe(X)

In [98]:
df.head(10)

     0  1       2   3  4        5  6  7  8        9
0  619  0  Female  42  2        0  1  1  1   101349
1  608  2  Female  41  1  83807.9  1  0  1   112543
2  502  0  Female  42  8   159661  3  1  0   113932
3  699  0  Female  39  1        0  2  0  0  93826.6
4  850  2  Female  43  2   125511  1  1  1  79084.1
5  645  2    Male  44  8   113756  2  1  0   149757
6  822  0    Male  50  7        0  2  1  1  10062.8
7  376  1  Female  29  4   115047  4  1  0   119347
8  501  0    Male  44  4   142051  2  0  1  74940.5
9  684  0    Male  27  2   134604  1  1  1  71725.7

Looks like the countries have been encoded with France as 0, Germany as 1 and Spain as 2. Wait a sec. They are not ordinal and hence there is no relational ordering between them. Even though the numbers assigned to these countries are purely random in nature, they are in no way  better or worse than the others as the numbers suggest. We need to fix this.

We could create Dummy Variables to fix this issue.

In [99]:
# Lets create another function to do this.
# Excuse me for the bad choice of names for the function. But its descriptive!! 

# Once again, the numpy array and the index of the field to be encoded are the inputs to this function.
def dummy_variable_maker(data, index):
    onehotencoder = OneHotEncoder(categorical_features = [index])
    data = onehotencoder.fit_transform(data).toarray()
    return(data)

In [100]:
X = dummy_variable_maker(X,1)

ValueError: could not convert string to float: 'Female'

## Oops!! Looks like we can't encode Countries unless we fix Gender first!

In [101]:
# Lets do that.
# Index is 2 for gender
X = categorical_encoder(X, 2)

In [102]:
df = create_dataframe(X)

In [103]:
df.head(10)

     0  1  2   3  4        5  6  7  8        9
0  619  0  0  42  2        0  1  1  1   101349
1  608  2  0  41  1  83807.9  1  0  1   112543
2  502  0  0  42  8   159661  3  1  0   113932
3  699  0  0  39  1        0  2  0  0  93826.6
4  850  2  0  43  2   125511  1  1  1  79084.1
5  645  2  1  44  8   113756  2  1  0   149757
6  822  0  1  50  7        0  2  1  1  10062.8
7  376  1  0  29  4   115047  4  1  0   119347
8  501  0  1  44  4   142051  2  0  1  74940.5
9  684  0  1  27  2   134604  1  1  1  71725.7

In [104]:
## Alright, now that we have fixed our gender, lets move on to Countries

X = dummy_variable_maker(X,1)

In [105]:
df = create_dataframe(X)

In [106]:
df.head(10)

    0    1    2      3    4     5    6          7    8    9    10         11
0  1.0  0.0  0.0  619.0  0.0  42.0  2.0       0.00  1.0  1.0  1.0  101348.88
1  0.0  0.0  1.0  608.0  0.0  41.0  1.0   83807.86  1.0  0.0  1.0  112542.58
2  1.0  0.0  0.0  502.0  0.0  42.0  8.0  159660.80  3.0  1.0  0.0  113931.57
3  1.0  0.0  0.0  699.0  0.0  39.0  1.0       0.00  2.0  0.0  0.0   93826.63
4  0.0  0.0  1.0  850.0  0.0  43.0  2.0  125510.82  1.0  1.0  1.0   79084.10
5  0.0  0.0  1.0  645.0  1.0  44.0  8.0  113755.78  2.0  1.0  0.0  149756.71
6  1.0  0.0  0.0  822.0  1.0  50.0  7.0       0.00  2.0  1.0  1.0   10062.80
7  0.0  1.0  0.0  376.0  0.0  29.0  4.0  115046.74  4.0  1.0  0.0  119346.88
8  1.0  0.0  0.0  501.0  1.0  44.0  4.0  142051.07  2.0  0.0  1.0   74940.50
9  1.0  0.0  0.0  684.0  1.0  27.0  2.0  134603.88  1.0  1.0  1.0   71725.73

As we could see, we have 11 features instead of 9 before. That's because we have created dummy variables for the country variable and since there are 3 countries, 2 additional fields have been added to accomodate them. Rows countaining France will say 1.0 on those corresponding rows and the same logic applies to the other countries as well.

But before we go ahead with modelling. Lets think again. We don't need 3 dummy variables for 3 countries. We need only 2 as the 3rd one will be represented by the values that aren't the other 2 dummy variables.

So, let's remove one of the dummy variable field and avoid falling into the dummy variable trap.

In [107]:
# Remove field 1
# We'll take all columns except the first one.
X = X[:, 1:]

## Hurray!! Now we are ready to split the data into train and test sets.

In [109]:
# Note that cross_validation has been replaced by model_selection in the latest version
from sklearn.model_selection import train_test_split
def split_date(X, y):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)
    return(X_train, X_test, y_train, y_test)

In [114]:
X_train, X_test, y_train, y_test = split_date(X,y)

In [115]:
df = create_dataframe(X_train)

In [117]:
df.head(10)

    0    1      2    3     4     5          6    7    8    9          10
0  1.0  0.0  579.0  0.0  39.0   5.0  117833.30  3.0  0.0  0.0    5831.00
1  0.0  0.0  750.0  0.0  32.0   5.0       0.00  2.0  1.0  0.0   95611.47
2  0.0  1.0  729.0  0.0  34.0   9.0   53299.96  2.0  1.0  1.0   42855.97
3  0.0  1.0  689.0  1.0  38.0   5.0   75075.14  1.0  1.0  1.0    8651.92
4  0.0  0.0  605.0  1.0  52.0   7.0       0.00  2.0  1.0  1.0  173952.50
5  0.0  0.0  667.0  0.0  37.0   9.0   71786.90  2.0  1.0  1.0   67734.79
6  0.0  0.0  673.0  1.0  65.0   0.0       0.00  1.0  1.0  1.0   85733.33
7  0.0  0.0  724.0  1.0  31.0   5.0       0.00  1.0  1.0  0.0  134889.95
8  0.0  0.0  731.0  0.0  38.0  10.0  123711.73  2.0  1.0  0.0  171340.68
9  0.0  1.0  484.0  0.0  39.0   5.0       0.00  2.0  1.0  1.0  175224.12

### Lets Apply Feature Scaling.

Feature scaling is absolutely necessarily as there is a lot of computations -- highly compute intensive calculations and a lot of parallel computing. Feature scaling eases up all these calculations. We don't need one independent variable dominating another.

In [118]:
from sklearn.preprocessing import StandardScaler
def feature_scaler(data):
    sc = StandardScaler()
    return(sc.fit_transform(data))

In [119]:
X_train = feature_scaler(X_train)

In [120]:
X_test = feature_scaler(X_test)

In [121]:
# Lets see if that worked.
df = create_dataframe(X_train)

In [122]:
df.head(10)

,0,1,2,3,4,5,6,7,8,9,10
0,1.760216,-0.574682,-0.735507,-1.087261,0.015266,0.008860,0.673160,2.535034,-1.553624,-1.034460,-1.640810
1,-0.568112,-0.574682,1.024427,-1.087261,-0.652609,0.008860,-1.207724,0.804242,0.643657,-1.034460,-0.079272
2,-0.568112,1.740094,0.808295,-1.087261,-0.461788,1.393293,-0.356937,0.804242,0.643657,0.966688,-0.996840
3,-0.568112,1.740094,0.396614,0.919743,-0.080145,0.008860,-0.009356,-0.926551,0.643657,0.966688,-1.591746
4,-0.568112,-0.574682,-0.467915,0.919743,1.255605,0.701077,-1.207724,0.804242,0.643657,0.966688,1.283302
5,-0.568112,-0.574682,0.170190,-1.087261,-0.175556,1.393293,-0.061844,0.804242,0.643657,0.966688,-0.564126
6,-0.568112,-0.574682,0.231942,0.919743,2.495944,-1.721681,-1.207724,-0.926551,0.643657,0.966688,-0.251081
7,-0.568112,-0.574682,0.756835,0.919743,-0.748020,0.008860,-1.207724,-0.926551,0.643657,-1.034460,0.603893
8,-0.568112,-0.574682,0.828879,-1.087261,-0.080145,1.739402,0.766993,0.804242,0.643657,-1.034460,1.237875
9,-0.568112,1.740094,-1.713248,-1.087261,0.015266,0.008860,-1.207724,0.804242,0.643657,0.966688,1.305420

## And that finishes the Preprocessing Stage Completely!!

In [ ]:
## Lets go ahead and save this preprocessing stage.

## Lets get to creating the ANN

We'll start with the imports

In [123]:
import keras

Using TensorFlow backend.

In [124]:
# The sequential module is used to initialize our ANN
from keras.models import Sequential
# The dense module is required to build the layers of our ANN
from keras.layers import Dense

In [127]:
# Initialize the ANN (.i.e define it as a sequence of layers)
# There are 2 ways to defining an ANN. One is either by defining the sequence of layers or
# 2 -- Defining a graph.

# We are gonna use the first method. We will create an object of the Sequential class.
# Our problem is a classification problem.
classifier = Sequential()

## A Little Refresher

Remember, 

Step 1 : The first step in creating an ANN is to randomly initialize the weights to small
numbers close to 0 (not zero). This will be done by the dense function in the Dense module.

Step 2 : The first observation in the dataset (the first row) is given to the the input layer,
with each feature into one input node. In our case, we have 11 features in our feature matrix i.e the 11 independent variables. Therefore, in our input layer, we'll have 11 input nodes.

Step 3 : Forward-Propogation - From left to right, the neurons are activated by the activation function in such a way that the higher the value of the activation function is for the neuron, the more the impact neuron will have in the network. There are several activation functions to choose from. But the best and the most proven one is <b>The Rectifier function</b>.

<b>The Sigmoid Function</b> is the best for the output layer as we'll be able to get the probabilities for the different classes. We'll be able to see the probability that the output is 1 or 0 for each observation and even the probabilites for the new observations as we make predictions on the test set.

Step 4 : Compares the predicted result to the actual result. (The churn class). This generates an error.

Step 5 : Back-propogate the error from right to left. Update the weights accordingly to minimize the error. The weights that are more responsible for the generated error are targeted here. There are several ways to updating the weights. The learning rate decides by how much we update the weights.

Step 6 : Repeat steps 1 to 5 either after each observation or after every batch of observations.

Step 7 : When the whole training set is passed through the ANN once, that completes an epoch. Repeat epochs many more times after that.

<b>Note:</b> We are going to be using Stochastic Gradient Descent.

In [129]:
# Add the input layer and the first hidden layer.
# The add method in our Sequential class is used to add layers to the ANN. It is only gonna
# add the hidden layers. And thereby, by creating the first hidden layer, we are indirectly going to 
# tell the add function how many input nodes need to be there in the input layer.

# The first argument is -- output_dim which takes the number of nodes in the hidden layer
# we are going to be adding.

# There is no thumb rule on the number of nodes that need to added to the hidden layer. But Practioners
# prefer to go by a number that is the average of the number of nodes in the input and output layers.
# We could also experiment and use parameter tuning to come up with probably better numbers for specific
# problems as well. K-fold cross-validation is one of the methods. 

# We have 11 input nodes and 1 for the output node (Because the output is binary). 
# So 12 in total and therefore 6 is the average.
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 11))

C:\Users\rhomi\Anaconda2\envs\data\lib\site-packages\ipykernel_launcher.py:16: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(kernel_initializer="uniform", units=6, activation="relu", input_dim=11)`
  app.launch_new_instance()

In [131]:
## Updating the Dense Call to the Keras 2 API as per the warning:
classifier.add(Dense(kernel_initializer="uniform", units=6, activation="relu", input_dim=11))